Repository projectdysnomia/dysnomia, pull requests merged in 2024-07, with the labels that each got.

#133 feat: update API constants
  index.d.ts
  lib/Constants.js
  lib/structures/Message.js
Labels: type: enhancement, scope: meta, reason: Discord

#138 feat(NewsChannel): support passing a reason to followChannel()
  index.d.ts
  lib/Client.js
  lib/structures/NewsChannel.js
Labels: scope: REST, reason: Discord, scope: structures

#141 feat(Client): support webhook self message deletes in threads
  index.d.ts
  lib/Client.js
  lib/structures/Message.js
Labels: type: enhancement, scope: REST, scope: structures

#107 feat: super reactions
  index.d.ts
  lib/Client.js
  lib/Constants.js
  lib/gateway/Shard.js
  lib/structures/Message.js
  lib/structures/PrivateChannel.js
  lib/structures/TextChannel.js
  lib/structures/TextVoiceChannel.js
  lib/structures/ThreadChannel.js
Labels: type: enhancement, scope: gateway, scope: typings, reason: Discord, scope: structures

#139 feat: support polls
  index.d.ts
  lib/Client.js
  lib/Constants.js
  lib/gateway/Shard.js
  lib/rest/Endpoints.js
  lib/structures/CommandInteraction.js
  lib/structures/ComponentInteraction.js
  lib/structures/Message.js
  lib/structures/ModalSubmitInteraction.js
  lib/structures/PrivateChannel.js
  lib/structures/TextChannel.js
  lib/structures/TextVoiceChannel.js
  lib/structures/ThreadChannel.js
Labels: type: enhancement, scope: gateway, scope: REST, scope: typings, reason: Discord, scope: structures

#68 feat: avatar decorations
  index.d.ts
  lib/gateway/Shard.js
  lib/rest/Endpoints.js
  lib/structures/Member.js
  lib/structures/User.js
Labels: type: enhancement, reason: Discord, scope: structures

#142 hotfix(Shard): add avatarDecorationData to userUpdate
  lib/gateway/Shard.js
Labels: type: enhancement, type: farming

#143 chore: update dependencies
  package.json
Labels: scope: meta

#145 feat: support application-level emojis
  index.d.ts
  lib/Client.js
  lib/rest/Endpoints.js
Labels: type: enhancement, scope: REST, scope: typings, reason: Discord

#146 fix(RequestHandler): correct debug message on missing ratelimit headers
  lib/rest/RequestHandler.js
Labels: type: bug, scope: REST

#148 fix(Constants): guildBans -> guildModeration in Intents.allNonPrivileged
  index.d.ts
  lib/Constants.js
Labels: type: bug
