Repository projectdysnomia/dysnomia, pull requests merged in 2024-09, with the labels that each got.

#156 feat: voice gateway v8 & xchacha20+aes256 encryption mode
  index.d.ts
  lib/Constants.js
  lib/voice/VoiceConnection.js
  package.json
Labels: type: enhancement, scope: voice, reason: Discord, needs testing

#160 types(VoiceConnection): update types from #156
  index.d.ts
Labels: type: enhancement, scope: typings

#161 feat: handle voice channel effect send events
  index.d.ts
  lib/Constants.js
  lib/gateway/Shard.js
Labels: type: enhancement, scope: gateway, reason: Discord

#164 chore: update dev-dependencies
  index.d.ts
  package.json
Labels: scope: meta, reason: external

#165 feat(voice): emit users connect event
  index.d.ts
  lib/Constants.js
  lib/voice/VoiceConnection.js
Labels: type: enhancement, scope: voice, reason: Discord

#163 fix(DiscordRESTError): properly parse request errors
  lib/errors/DiscordRESTError.js
Labels: type: bug, scope: REST, reason: Discord

#166 fix(Client): don't return raw API data from `editGuildScheduledEvent` call
  lib/Client.js
Labels: type: bug, scope: REST

#168 feat(voice): use StableLib as a non-native fallback
  lib/voice/VoiceConnection.js
  package.json
Labels: type: enhancement, scope: voice

#169 chore(voice): don't if check twice when loading StableLib
  lib/voice/VoiceConnection.js
Labels: scope: voice, type: farming
