Repository projectdysnomia/dysnomia, pull requests merged in 2024-08, with the labels that each got.

#144 feat: support message forwarding
  index.d.ts
  lib/Client.js
  lib/Constants.js
  lib/structures/Message.js
  lib/structures/PrivateChannel.js
  lib/structures/TextChannel.js
  lib/structures/TextVoiceChannel.js
  lib/structures/ThreadChannel.js
Labels: type: enhancement, scope: gateway, scope: typings, reason: Discord, scope: structures

#150 fix(VoiceState): don't parse the request to speak timestamp when null
  lib/structures/VoiceState.js
Labels: type: bug, scope: structures

#151 feat: add recently-added methods to get objects via REST
  index.d.ts
  lib/Client.js
  lib/rest/Endpoints.js
  lib/structures/Guild.js
Labels: type: enhancement, scope: REST, reason: Discord

#152 fix(Constants): `UserFlags.HYPESQUAD_ONLINE_HOUSE_1` typo
  lib/Constants.js
Labels: type: bug

#153 types(OAuthApplicationInfo): document `approximate_user_install_count`
  index.d.ts
Labels: type: enhancement, scope: typings, reason: Discord, type: farming

#154 feat: emit full message objects in messageUpdate events
  lib/gateway/Shard.js
Labels: type: enhancement, scope: gateway, reason: Discord, needs testing

#155 feat: add poll result message type
  index.d.ts
  lib/Constants.js
  lib/structures/Message.js
Labels: type: enhancement, reason: Discord, scope: structures

#149 fix(Member): update voice state even if member data isn't present
  lib/structures/Member.js
Labels: type: bug, scope: structures

#157 chore: use only Discord's erlpack
  package.json
Labels: type: bug, scope: meta, type: farming

#114 feat: premium app subscriptions
  esm.mjs
  index.d.ts
  index.js
  lib/Client.js
  lib/Constants.js
  lib/gateway/Shard.js
  lib/rest/Endpoints.js
  lib/structures/CommandInteraction.js
  lib/structures/ComponentInteraction.js
  lib/structures/Entitlement.js
  lib/structures/Interaction.js
  lib/structures/ModalSubmitInteraction.js
  lib/util/emitDeprecation.js
Labels: type: enhancement, scope: gateway, scope: REST, reason: Discord, scope: structures
