Repository projectdysnomia/dysnomia, pull requests merged in 2024-11, with the labels that each got.

#178 feat(InteractionMetadata): add command target properties
  index.d.ts
  lib/structures/InteractionMetadata.js
Labels: reason: Discord, scope: structures

#180 fix(Client): assign id in `getRESTGuildVoiceState`
  lib/Client.js
Labels: type: bug, scope: REST

#181 fix(Interaction): set the member ID even if the guild is not cached
  lib/structures/Interaction.js
Labels: type: bug, scope: structures

#182 fix(types): correct `OAuthApplicationInfo#integration_types_config` inner object
  index.d.ts
Labels: type: bug, scope: typings, type: farming

#184 chore: set package version to 0.2.0
  package.json
Labels: scope: meta

#185 fix(Message): construct interaction metadata construction
  lib/structures/Message.js
Labels: type: bug, scope: structures

#187 fix(GuildScheduledEvent): recurrence rules may be nullable
  lib/structures/GuildScheduledEvent.js
Labels: type: bug, type: farming

#188 fix(Message): fix message with snapshot construction in known guild
  lib/structures/Message.js
Labels: type: bug, scope: structures
