Repository projectdysnomia/dysnomia, pull requests merged in 2025-06, with the labels that each got.

#202 types: add approx. user authorization count + new C2 fields
  index.d.ts
Labels: type: enhancement, scope: typings, reason: Discord

#205 fix: make UDP and IP discovery more reliable
  lib/voice/VoiceConnection.js
  lib/voice/VoiceConnectionManager.js
Labels: scope: voice

#209 feat: support multi-colored roles
  index.d.ts
  lib/Client.js
  lib/gateway/Shard.js
  lib/structures/Guild.js
  lib/structures/Role.js
Labels: type: enhancement, reason: Discord, scope: structures

#204 feat: user collectibles
  index.d.ts
  lib/gateway/Shard.js
  lib/structures/Member.js
  lib/structures/User.js
Labels: type: enhancement, scope: gateway, reason: Discord, scope: structures

#210 feat: support invite flags
  index.d.ts
  lib/Constants.js
  lib/structures/Invite.js
Labels: scope: REST, reason: Discord
